<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/main.css">
    <title>Document</title>
</head>
<body>
    <header id="mainhead">
        <div class="divBottom"></div>
        <img src="images/atom_logo.svg" alt="logo">
        <div class="divBottom"></div>
    </header>
    <div>
        <h2 class="hidden">Content</h2>
        <div id="tagline">
            <div class="divTop"></div>
            <div id="tagger"><h2>"Regenerating the Future"</h2></div>
            <div class="divTop"></div>
        </div>
        <div id="health">
            <h2>Our Mission</h2>
            <ul>
                <li>Organ failure is one of the leading health care challenges in the western world, as Millions of Canadians and Americans suffer from organ related diseases.</li>
                <li>It is limited by a organ donor shortage and many who receive organs have to receive immunization treatments, which many organs often reject.</li>
                <li>We aim to make organs more accessible to the patients who desperately need them.</li>
                <li>To achieve this we have developed a process to make donor organs more compatible with new patients.</li>
            </ul>
        </div>
        <div id="infograph">
            <h2>Our Process</h2>
        </div>
        <div id="flexi">
            <div id="promoimg">
                <h2 class="sub-tit"></h2>
                <object id="heart" data="images/heart.svg" type="image/svg+xml"></object>
            </div>
            <div id="buttondiv">
                <h3 class="promobutton" data-buttonref="Organ">1</h3>
                <h3 class="promobutton" data-buttonref="Container">2</h3>
                <h3 class="promobutton" data-buttonref="Decellularization">3</h3>
                <h3 class="promobutton" data-buttonref="Scaffold">4</h3>
                <h3 class="promobutton" data-buttonref="Repopulation">5</h3>
                <!--h3 class="promobutton" data-buttonref="done">6</h3>-->
            </div>
            <div class="infoCon">
                <div class="infoP" data-inforef="Organ">
                        <p><span class="subject">Organ</span> - A fresh organ is needed to begin the process; preferably within 3 days after death, as organs tend to spoil. </p>
                </div>
                <div class="infoP" data-inforef="Container">
                        <p><span class="subject">Container</span> - The organ is then place into a container containing detergents, which are then pumped through the heart.</p>
                </div>
                <div class="infoP" data-inforef="Decellularization">
                        <p><span class="subject">Decellularization</span> - The flowing detergents then strip the organ of all soluble proteins, DNA, lipids, sugars and all other cellural material over the course of a week.</p>
                </div>
                <div class="infoP" data-inforef="Scaffold">
                        <p><span class="subject">Scaffold</span> - After the process we are left with the scaffold, a mesh of collagen, laminins and other structural proteins, that once held all the cells together.</p>
                </div>
                <div class="infoP" data-inforef="Repopulation">
                        <p><span class="subject">Repopulation</span> - The scaffold can then be repopulated with cells compatible with future transplant patients.</p>
                </div>
                <!--<div class="infoP" data-inforef="done">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium, maxime. Consectetur, minus placeat voluptas voluptatum, qui nesciunt voluptatibus voluptate velit maiores minima, vero quia. Velit maiores atque quasi. Eligendi, doloremque!</p>
                </div>-->
            </div>
        </div>
        <div id="strat">
            <h2>Strategic Objectives</h2>
        </div>
        <div id="strat-info">
                <ul>
                        <li>Our aim is to get this process working on large scale organs. At the moment success has been seen on animal organs and on individual pieces of human organs. With all this success seen, it is safe to say this needs to be tested on a larger scale, with full human organ regneration.</li>
                        <li>To facilitate this regeneration, we are designing and validating novel whole-heart bioreactors that recapitulate cardiac physiology to aid in the maturation of recellularized cardiac matrices</li>
                        <li>Newly regenerated myocardium is then characterized using state-of-the-art techniques to evaluate and quantify electromechanical cardiac function.</li>
                    </ul>
        </div>
        <div id="conCon">
            <h2>Conclusion</h2>
        </div>
        <div id="con-info">
            <ul>
                <li>With more research and development in the field of organ regeneration, we will see massive breakthroughs within the next 5 years.</li>
                <li>If these procedures become a reality on humans, it will have major impacts on the medical field.</li>
                <li>We will see more patients getting the treatment they need with less chance of the organs rejecting during the process.</li>
            </ul>
        </div>
    </div>
    <script src="js/main.js"></script>
</body>
</html>